<%- include("../parts/header") %>
		<h1>Edit Product</h1>
		<form action=".?id=<%= product.id %>" method="post">
			<p>
				<label for="title">Product Title</label>
				<input type="text" id="title" name="title" value="<%= product.title %>">
			</p>
			<p>
				<label for="image">Image</label>
				<input type="text" id="image" name="image" value="<%= product.image %>">
			</p>
			<p>
				<label for="price">Price</label>
				<input type="number" id="price" name="price" value="<%= product.price %>">
			</p>
			<p>
				<label for="salePrice">Sale Price</label>
				<input type="number" id="salePrice" name="salePrice" value="<%= product.salePrice %>">
			</p>
			<p>
				<label for="category">Category</label>
				<input type="number" id="category" name="category" value="<%= product.categoryId %>">
			</p>
			<p>
				<label for="description">Description</label>
				<input type="text" id="description" name="description" value="<%= product.description %>">
			</p>
			<p>
				<input type="submit" value="Save">
			</p>
		</form>
<%- include("../parts/footer") %>