<%- include("../parts/header") %>
		<h1>Payment <%= locals.success? "success!": "unsuccessful..." %></h1>
		<% if (locals.success) { %>
		<p>Thank you! <%= locals.orderId? "Your order ID is " + locals.orderId + ".": null %></p>
		<% } else { %>
		<p><%= locals.message || "Not really sure what happened!" %> <%= locals.orderId? "Your order ID is " + locals.orderId + ".": null %></p>
		<% } %>
<%- include("../parts/footer") %>