<%- include("parts/header") %>
		<h1>Checkout</h1>
		<ul>
			<%
				let total = 0;
				if (locals.products) {
					for (const product of products) {
						total += product.quantity * product.price * 0.01;
						let price = Math.min(product.salePrice || product.price, product.price);
			%>
			<li>
				<p><%= product.title %></p>
				<p><img src="<%= product.image || "http://placekitten.com/200/200" %>"></p>
				<% 	if (product.salePrice && product.salePrice < product.price) { %>
				<p><del>$<%= (product.price * 0.01).toFixed(2) %></del> $<%= (product.salePrice * 0.01).toFixed(2) %> x <%= product.quantity %> = $<%= (product.quantity * price * 0.01).toFixed(2) %></p>
				<% 	} else { %>
				<p>$<%= (price * 0.01).toFixed(2) %> x <%= product.quantity %> = $<%= (product.quantity * price * 0.01).toFixed(2) %></p>
				<% 	} %>
			</li>
			<%
					}
				}
			%>
		</ul>
		<p>Total: $<%= total.toFixed(2) %></p>
		<p><a href="/payment">Pay now</a></p>
<%- include("parts/footer") %>