<%- include("../parts/header") %>
		<% if (locals.product) { %>
		<div class="product">
			<% if (locals.added) { %>
			<p class="product__message message" id="message">Added to cart</p>
			<% } %>
			<h1 class="product__title"><%= product.title %></h1>
			<img class="product__image" src="<%= product.image %>" onerror="this.src = 'http://placekitten.com/500/500/?image=' + (Math.floor(Math.random() * 20)).toString();">
			<% 	if (product.salePrice && product.salePrice < product.price) { %>
			<p class="product__price"><del>$<%= (product.price * 0.01).toFixed(2) %></del> $<%= (product.salePrice * 0.01).toFixed(2) %></p>
			<% 	} else { %>
			<p class="product__price">$<%= (product.price * 0.01).toFixed(2) %></p>
			<% 	} %>
			<form class="product__add-form" id="add-form" method="post">
				<input name="id" type="hidden" value="<%= product.id %>">
				<input id="quantity" name="quantity" type="number" min="0" value="1">
				<button id="add">Add to Cart</button>
			</form>
			<p class="product__description"><%= product.description %></p>
		</div>
		<% } else { %>
		<h1>Error!</h1>
		<p>We can't find the product you are looking for.</p>
		<% } %>
<%- include("../parts/footer") %>